<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
  <div class="navbar-header">
    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{site_name}} CMS</a>
  </div>

  <ul class="nav navbar-top-links navbar-right">
  
  </ul>

  {{> sidebar}} 
</nav>