<aside class="navbar-default sidebar">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav in" id="side-menu">
      <li><a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>

      <li><a href="/page"><i class="fa fa-edit fa-fw"></i> Create Page</a></li>

      <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Edit Page<span class="fa arrow"></span></a>
          {{#each pages}}
            <ul class="nav nav-second-level collapse">
              {{#each this}}
                <li><a href="/edit/{{formatUrl @key}}">{{@key}}</a></li>
              {{/each}}
            </ul>
          {{/each}}
      </li>

      <li>
        <a href="/order"><i class="fa fa-sitemap fa-fw"></i> Arrange Order</a>
      </li>

    </ul>
  </div>
</aside>
