<div class="row">
  <div class="col-sm-4">
    <h3 class="text-center">Heading</h3>
    <img src="http://lorempixel.com/output/cats-q-c-355-170-4.jpg">
  </div>
  <div class="col-sm-4">
    <h3 class="text-center">Heading</h3>
    <img src="http://lorempixel.com/output/cats-q-c-355-170-7.jpg">
  </div>
  <div class="col-sm-4">
    <h3 class="text-center">Heading</h3>
    <img src="http://lorempixel.com/output/cats-q-c-355-170-1.jpg">
  </div>
</div>