<ul class="nav nav-tabs" role="tablist">
  {{#each templates}}
  <li role="presentation" {{#if @first}}class="active"{{/if}}>
    <a href="#tab{{@index}}" aria-controls="profile" role="tab" data-toggle="tab">Module {{@index}}</a>
  </li>
  {{/each}}
</ul>
<!-- Tab panes -->
<div class="tab-content">
  {{#each templates}}
  <div role="tabpanel" class="tab-pane {{#if @first}}active{{/if}}" id="tab{{@index}}">
    {{> (lookup. 'template') }}
  </div>
  {{/each}}
</div>