<section class="order-view">

  <div id="order-response" class="alert alert-info text-center" role="alert" hidden></div>

  <form id="order-form" action="/order" role="form" data-abide="ajax">


    <div class="list-group">
      {{#each pages}}
        {{#each this}}
          <div class="panel-body">
            <a class="list-group-item" href="#">
              <i class="fa fa-arrows-v fa-fw"></i> {{@key}}<span class="pull-right text-muted small"><em>4 minutes ago</em></span>
            </a>
          </div>
        {{/each}}
      {{/each}}
      </div>
      <button class="btn btn-default btn-block">Save Changes</button>
    </div>

  </form>
</section>
