<section class="page-view">
  <form id="create-form" action="/page" method="POST">
   <input type="text" placeholder="Title" class="form-control" name="name" required>
   <br>
   <textarea name="new-page" id="new-age" class="editor"></textarea>

    <button type="submit" class="btn btn-default btn-block">Create</button>
  </form>
</section>
