section.page-view {
  h1, h2 {
    color: $bootstrap-blue;
    font-style: italic;
  }
  h1 {
    @include font-size(35px);
    text-decoration: underline;
  }
  h2 {
    @include font-size(45px);
  }
  .panel-group.sortable {
    margin-bottom: 0;
  }
  button {
    padding: 8px 0;
    margin-top: 40px;
    margin-bottom: 25px;
    @include font-size(25px);
  }
  hr {
    border-bottom: 1px solid $hr-grey;
  }
  button.btn.dropdown-toggle {
    padding-left: 15px;
    width: 120%;
  }
}