// Media Queries
// --------------------------------

@mixin between-breakpoints($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin max-breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 1320px) { @content; }
  }
  @else if $point == laptop {
    @media (max-width: 1280px) { @content; }
  }
  @else if $point == screen-lg {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == tablet-horizontal {
    @media (max-width: 64.063em) { @content; }
  }
  @else if $point == screen-md {
    @media (max-width: 992px) { @content; }
  }
  @else if $point == screen-sm {
    @media (max-width: 40em)  { @content; }
  }
  @else if $point == iphone5-horizontal {
    @media (max-width: 568px)  { @content; }
  }
  @else if $point == screen-xs {
    @media (max-width: 480px)  { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 340px)  { @content; }
  }
}

@mixin min-breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1320px) { @content; }
  }
  @else if $point == laptop {
    @media (min-width: 1280px) { @content; }
  }
  @else if $point == screen-lg {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == tablet-horizontal {
    @media (min-width: 64.063em) { @content; }
  }
  @else if $point == screen-md {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == screen-sm {
    @media (min-width: 40.063em)  { @content; }
  }
  @else if $point == iphone5-horizontal {
    @media (min-width: 568px)  { @content; }
  }
  @else if $point == screen-xs {
    @media (min-width: 480px)  { @content; }
  }
  @else if $point == mobile {
    @media (min-width: 340px)  { @content; }
  }
}

@mixin height-breakpoint($point) {
  @if $point == screen-lg {
    @media (min-height: 900px) { @content; }
  }
  @else if $point == screen-md {
    @media (min-height: 800px) { @content; }
  }
  @else if $point == screen-sm {
    @media (min-height: 600em)  { @content; }
  }
  @else if $point == screen-xs {
    @media (min-height: 320px)  { @content; }
  }
}